[submodule "backend/src/main/resources/config"]
	path = backend/src/main/resources/config
	url = git@github.com:festival-Planner/secret.git
	branch = spring
[submodule "frontend/secret"]
	path = frontend/secret
	url = git@github.com:festival-Planner/secret.git
	branch = react
