[submodule "frontend/secret"]
	path = frontend/secret
	url = git@github.com:festival-Planner/secret.git
	branch = react
[submodule "backend/secret"]
	path = backend/secret
	url = git@github.com:festival-Planner/secret.git
	branch = spring
